.login_content{
	position: relative;      
	padding-top: 6%;      
	padding-bottom: 6%;      
	margin-top: 8.4%;     
	margin-bottom: 8.4%;
    max-width: 660px; 
}
.height{
	height: 80.5%;
	width:40%;
}